---
import Layout from "@/layouts/Layout.astro";
import MarkdownIt from 'markdown-it'
import hljs from 'highlight.js'
import 'highlight.js/styles/github.css'


const md = new MarkdownIt({
    html: true,
    linkify: true,
    highlight: function (str, lang='vue') {
        if (lang && hljs.getLanguage(lang)) {
            try {
                return '<pre class="hljs"><code>' +
                    hljs.highlight(str, { language: lang, ignoreIllegals: true }).value +
                    '</code></pre>';
            } catch (__) {}
        }

        return '<pre class="hljs"><code>' + md.utils.escapeHtml(str) + '</code></pre>';
    }
})
const { id } = Astro.params

import {createDirectus,rest,readItem} from "@directus/sdk";

const { CMS_URL,RES_URL } = import.meta.env

const client = createDirectus(CMS_URL).with(rest());

const item = await client.request(
    readItem('blog', id)
);

---

<Layout title={item.title} >
    <div class="detail">
        <div class="detail-top">
            <a>GO BACK</a>
        </div>
        <div class="detail-tit">
            <div class="detail-tit_main">
                {item.title}
            </div>
            <div class="detail-tit_sub">
                {item.summary}
            </div>
        </div>
        <div class="detail-cover">
            <img src={RES_URL+item.cover}  alt=""/>
        </div>
        <div class="detail-box">
            <div class="detail-html">
                <Fragment set:html={md.render(item.html)} />
            </div>
            <div class="detail-author">

            </div>
        </div>
    </div>
    <!--<div class="detail">-->
    <!--    <div class="detail-cover">-->
    <!--        &lt;!&ndash;<img src={item.cover}  alt=""/>&ndash;&gt;-->
    <!--    </div>-->
    <!--    <div class="detail-title">{item.title}</div>-->
    <!--    <div class="detail-time">-->
    <!--        {item.date_created}-->
    <!--    </div>-->
    <!--    <div class="detail-html">-->
    <!--        <Fragment set:html={md.render(item.html)} />-->

    <!--    </div>-->
    <!--</div>-->
</Layout>
<style>
    @import "https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown.min.css";

</style>
