---
import {createDirectus, rest, readItems} from '@directus/sdk';
import {Image} from 'astro:assets';
import Pre from '../../assets/img/prev.png'
import Next from '../../assets/img/next.png'
const {CMS_URL, RES_URL} = import.meta.env

const client = createDirectus(CMS_URL).with(rest());

interface BlogItem {
    id: string;
    title: string;
    date_published: string;
    summary: string;
    cover: string;
    top: boolean;
}

const items = await client.request<BlogItem[]>(
    readItems('blog', {
        fields: ['id', 'title', 'date_published', 'summary', 'cover', 'top'],
        filter: {
            'top': true
        },
        sort: ['sort', '-date_created'],
        limit: 1
    })
);

---

<section class="home-banner-area">
    <div class="owl-stage">
        {items.map((item) => (
            <div class="banner-img">
                <a href=`/blog/${item.id}` data-value={RES_URL + item.cover}>
                    <Image
                            class="img-fluid top-cover"
                            inferSize={true}
                            src=`${RES_URL}${item.cover}`
                            alt=""
                    />
                </a>
                <div class="text-wrapper">
                    <a href=`/blog/${item.id}` class="d-flex">
                        <h1>
                            {item.title}
                        </h1>
                    </a>
                </div>
            </div>
        ))}
    </div>
</section>


<style>
    .home-banner-area .owl-carousel .actived {
        opacity: 1;
    }
</style>